body {
  font-family: Poppins, sans-serif;
  background: url('assets/background_tile.png') repeat;
  background-size: 300px;
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.logo { height: 80px; }
#teams, #standings { display: grid; gap: 1rem; padding: 1rem; }
@media (min-width: 1024px) { #teams { grid-template-columns: repeat(3, 1fr); } }
@media (min-width: 768px) and (max-width: 1023px) { #teams { grid-template-columns: repeat(2, 1fr); } }
@media (max-width: 767px) { #teams { grid-template-columns: 1fr; } }
.hidden { display: none; }
